# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/

# IDE
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.suo

# Builds
*.apk
*.aab
*.app
*.ipa

.DS_Store
